{
	"extends": ["plugin:@next/next/recommended", "@infinumjs/eslint-config-react-js"],
	"plugins": [],
	"overrides": [
		{
			"extends": ["@infinumjs/eslint-config-nextjs-ts"],
			"files": ["*.ts", "*.tsx"],
			"parserOptions": {
				"project": ["./tsconfig.json"]
			}
		}
	],
	"rules": {
		"newline-before-return": "error",
		"padding-line-between-statements": ["error", { "blankLine": "always", "prev": "*", "next": "if" }]
	}
}
