{
	"extends": "@infinumjs/eslint-config-react",
	"rules":{
		"@typescript-eslint/interface-name-prefix": ["error", {
			"prefixWithI": "always"
		}],
		"@typescript-eslint/ban-ts-ignore": ["warn"],
		"@typescript-eslint/camelcase": ["warn"]
	}
}
