{
	"extends": ["plugin:@next/next/recommended"],
	"plugins": [],
	"rules": {
		"newline-before-return": "error",
		"padding-line-between-statements": ["error", { "blankLine": "always", "prev": "*", "next": "if" }],
	},
}
