# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules

# Production
build
dist
.next
out
storybook-static

# Typescript
*.tsbuildinfo
next-env.d.ts

# Misc
.DS_Store
*.pem

# Testing
/coverage

# Cache
.turbo
.eslintcache

# Environment variables
.env*
!.env.local
!.env.compose

# Logs
*storybook.log
pnpm-debug.log*

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/
/reports/
