name: infinum-react-example

services:
  frontend:
    container_name: infinum-react-example-frontend
    image: infinum-react-example-frontend
    restart: unless-stopped
    build:
      context: ..
      dockerfile: ./apps/frontend/Dockerfile
      target: production
    ports:
      - '3000:3000'
    environment:
      - HOSTNAME=0.0.0.0
    env_file:
      - ../apps/frontend/.env
      - ../apps/frontend/.env.compose
      - ../apps/frontend/.env.compose.local
  storybook:
    container_name: infinum-react-example-storybook
    image: infinum-react-example-storybook
    restart: unless-stopped
    build:
      context: ..
      dockerfile: ./apps/storybook/Dockerfile
      target: production
    ports:
      - '6006:80'
